body{
    background-color: rgb(85, 85, 85);
}
.foto{
    max-width: 25%;
}
.container{
    background: rgb(165, 165, 165);
    margin-top: round;
}
.ver{
    width: 100%;
    height: 100%;
    padding-left: 2%;
    border-radius: 3px;
    margin: 3px;
  
}

.roj{
    width: 100%;
    height: 100%;
    padding-left: 2%;
    padding-right: 0.3%;
    padding-bottom: 2%;
    padding-top: 0.3%;
    border-radius: 3px 3px 3px 3px;
    margin: 3px;
}
.viole{
    width: 100%;
    height: 100%;
    padding-left: 2%;
    border-radius: 3px;
    margin: 3px;

 
}
.icon1{
 padding-left: 35%;
}
.icon2{
    padding-left: 10%;
   }
.icon3{
 padding-left: 10%;
}
.cont{
    background-color: rgb(148, 147, 147);
}

.parrafo{
    text-align: justify;
}


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
  }
  nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  section{
    background: url(foto-estatua-de-la-libertad.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  }
  